html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

/* --------- global atributes --------- */
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;

}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}





/* --------- header -------------- */

header {
  display: grid;
  grid-template-columns: 1fr 275px;
  padding: 60px 70px;
}

.logo {
  width: 200px;
  /* max-width: 100%; */
}



.header_links{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}


/* ------------  main page + grid  -------------- */



/*--------------   first section  ---------------- */

.main_content {
  display: grid;
  grid-template-columns: 1fr minmax(50%,637px);
  padding: 0px 70px 163px 70px;
}

.first_content_grid{
  padding-top:70px ;
  /* padding-bottom: 121px; */
  display: grid;
  align-self: start;
}

.first_content_grid>h1{
  margin-top: 0;
  font-size: 43px;
}

.first_content_grid>p{
  font-size: 19px;
  max-width: 575px;
}


input[type=email] {
  height: 45px;
  padding: 0 169px 0 20px;
  border-radius: 4px;
  border: 1px solid #000;
  color: #C2C2C2;
  margin-right: 15px;
}

input[type=submit] {
  padding: 0 60px;
  height: 45px;
  background-color: #2F65F9;
  border: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

input[type=submit]:active{
  box-shadow: none;
}


.illustration_one {
  max-width: 100%;
  min-width: 50%;
  
}

/* decor image */

.curve_decor{
  display: grid;
  max-width: 100%;
}

/*----------------   secont section   --------------------*/
.second_content {
  display: grid;
  grid-template-columns: 1fr minmax(0,539px);
  background-color: hsl(240, 75%, 98%);
  padding: 60px 70px 0 70px;
  padding-bottom: 100px;
}

div>h2{
  font-size: 43px;
  /* font-weight: 400; */
}

.second_content>div>p{
  max-width: 527px;
}

.green_link {
  color: #3DA08F;
  border-bottom: solid 1.5px #3DA08F;
  padding-bottom: 3px;
}

.green_link>img {
  padding-left: 5px;
  position: relative;
  top: 4px;

}

/* ------ CEO comment --------- */

.comment{
  margin-top: 58px;
  padding: 21px 32px 37px;
  background-color: #fff;
  max-width: 370px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.comment>p{
  font-size: 15px;
}


.ceo{
  display: grid;
  grid-template-columns: 0.2fr 0.8fr ;
  /* grid-template-rows: 1fr 1fr ; */
  
}
.comments_image { 
  grid-area: 1 / 1 / 3 / 2; 
  width: 33px;
  border-radius: 50% ;
}

.ceo_name { 
  grid-area: 1 / 2 / 2 / 3; 
  font-size: 13px;
  font-weight: 700;
}

.founder {
   grid-area: 2 / 2 / 3 / 3; 
   font-size: 9px;
  }





/* ---------- illustrator of second section */

.illustration_two{
  padding-top: 60px;
  max-width: 100%;
  min-width: 50%;
 
}



/*--------------   third section  -------------------- */

.thirid_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 108px 70px 85px 70px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}
.thirid_content>div{
  max-width: 500px;
}

.thirid_content>div>h3{
  margin-top: 0;
  font-size: 35px;
}

.thirid_content_form{
  display: grid;
  justify-items: start;
}

.thirid_content_form>input[type=email]{
  width: 481px;
}
.thirid_content_form>input[type=submit]{
  padding: 0;
  width: 202px;
}

/*------------- bottom contacts   ------------------ */


.bottom_contacts {
  display: grid;
  grid-template-columns: 440px 1fr 1fr 310px;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  padding: 100px 70px 50px 70px;
  background-color: hsl(243, 87%, 12%);
  gap: 15px 0px;
  /* justify-items: center; */
}

.bottom_contacts>div>a{
  color: #fff;
}
.bottom_contacts>div>ul>li>a{
  color: #fff;
}


.logo { grid-area: 1 / 1 / 2 / 5; }
.white_logo {
  filter: brightness(0) invert(1);
}

.phone { grid-area: 2 / 1 / 3 / 2; }
.mail { grid-area: 3 / 1 / 4 / 2; }

.contact_icon{
  padding-right: 17px;
}
.aboyt-us { grid-area: 2 / 2 / 3 / 3; }
.jobs { grid-area: 3 / 2 / 4 / 3; }
.press { grid-area: 4 / 2 / 5 / 3; }
.blog { grid-area: 5 / 2 / 6 / 3; }
.contact-us { grid-area: 2 / 3 / 3 / 4; }
.terms { grid-area: 3 / 3 / 4 / 4; }
.privacy { grid-area: 4 / 3 / 5 / 4; }
.icons { grid-area: 2 / 4 / 3 / 5; }

.social_network_icons{
  margin: 0;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */ 
}
.social_network_icons>li{
  padding: 0 12px 0 12px;
}