html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

/* --------- global atributes --------- */
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;

}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}





/* --------- header -------------- */

header {
  display: grid;
  grid-template-columns: 1fr 275px;
  padding: 60px 70px;
}

.logo {
  width: 200px;
  /* max-width: 100%; */
}



.header_links{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}


/* ------------  main page + grid  -------------- */

article {
  /* display: grid; */
  /* max-width: 1440px; */

}

/*--------------   first section  ---------------- */

.main_content {
  display: grid;
  grid-template-columns: 1fr minmax(50%,637px);
  padding: 0px 70px;
}

.first_content_grid{
  padding-top:70px ;
  /* padding-bottom: 121px; */
  display: grid;
  align-self: start;
}

.first_content_grid>h1{
  margin-top: 0;
  font-size: 43px;
}

.first_content_grid>p{
  font-size: 19px;
}

.illustration_one {
  max-width: 100%;
  min-width: 50%;
  
}

input[type=email] {
  height: 45px;
  padding: 0 169px 0 20px;
  border-radius: 4px;
  border: 1px solid #000;
  color: #C2C2C2;
  margin-right: 15px;
}

input[type=submit] {
  padding: 0 60px;
  height: 45px;
  background-color: #2F65F9;
  border: none;
  border-radius: 4px;
  color: #fff;
}

/* decor image */

.curve_decor{
  display: grid;
  max-width: 100%;
}

/*----------------   secont section   --------------------*/
.second_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(240, 75%, 98%);
  padding: 0px 70px;
}

.green_link {
  color: #3DA08F;
  border-bottom: solid 1.5px #3DA08F;
  padding-bottom: 3px;
}

.green_link>img {
  padding-left: 5px;
  position: relative;
  top: 4px;

}


.illustration_two{
  max-width: 100%;
 
}



/*--------------   third section  -------------------- */
.thirid_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 70px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}


/*------------- bottom contacts   ------------------ */

.bottom_contacts {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 70px;
  background-color: hsl(243, 87%, 12%);
}

.white_logo {
  filter: brightness(0) invert(1);
}


.grid_content_logo_bottom {
  grid-area: 1/1/2/3;
}

.bottom_links {
  display: grid;
  grid-area: 2/1/3/3;
  grid-auto-flow: column;
  justify-content: space-between;
  
}

.bottom_links>ul>li>a{
  color: #fff;
}

