html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global atributes */
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;

}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.green_link {
  color: #3DA08F;
  border-bottom: solid 1.5px #3DA08F;
  padding-bottom: 3px;
}

.green_link>img {
  padding-left: 5px;
  position: relative;
  top: 4px;

}



/* header */

header {
  display: grid;
  grid-auto-flow: column;
  padding: 60px 70px;
}

.logo {
  width: 200px;
}

/* main page + grid */

article {
  /* display: grid; */
  max-width: 1440px;

}

/* first section */

.main_content {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  padding: 0px 70px;
}

.illustration_one {
  max-width: 100%;
}

/* decor image */

.curve_decor{
  display: grid;
  max-width: 1440px;
}

/* secont section */
.second_content {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(240, 75%, 98%);
  padding: 0px 70px;
}

.illustration_two{
  max-width: 100%;
}



/* third section */
.thirid_content {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  padding: 0px 70px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}


/* bottom contacts */

.bottom_contacts {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr;
  padding: 0px 70px;
  background-color: hsl(243, 87%, 12%);
}

.grid_content_logo_bottom {
  grid-area: 1/1/2/3;
}

.grid_content_links {
  display: grid;
  grid-area: 2/1/3/3;
  grid-auto-flow: column;
  justify-content: space-between;
}

.white_logo {
  fill: #fff;
}

.bottom_contacts>.grid_content>ul>li>a {
  color: #fff;
}